<!Doctype html>
<html lang="en">
<head>
    <title>B</title>
    {% include 'links.html' %}
    <link rel="stylesheet" href="static/css/home.css"/>
</head>
<body>
    {% include 'nav.html' %}
    {% include 'msb.html' %}    
    <style>
        .card-photo{
            text-align: center !important;
            .ico_c{
                font-size: 100px;
                margin: auto;
            }
        }
        .heading {
            font-size: 2.5em;
            text-align: center;
            margin-bottom: 45px;
        }
        .keyword1 {
            color: black; /* Trustworthy color */
            font-weight: bold;
        }
        .keyword2 {
            color: orange; /* Attention-grabbing */
            font-weight: bold;
        }
        .keyword3 {
            color: green; /* Growth and harmony */
            font-weight: bold;
        }
        
    </style>
    <!--main content wrapper-->
    <div class="mcw">
        <div class="cv"></div>
        <div class="inbox">
            <div class="inbox-sb">
                <div class="inbox-bx container-fluid">
                    <div class="section">
                        <div class="container">
                            
<h1 class="heading">
    <span class="keyword1">Everything</span> You <span class="keyword2">Need</span>, <span class="keyword3">All</span> in <span class="keyword2">One Place !</span>
</h1>
                            <div class="row flex-row-stretch">
                                <div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                                    <div class="card">
                                        <div class="card-label">QR CODE GENERATOR</div>
                                        <!-- <div class="card-photo" style="background-image: url(https://itagroup.hs.llnwd.net/o40/csg/btr2018/news-banner-bike.jpg);">
                                        </div> -->
                                        <div class="card-photo">
                                            <i class="fa fa-qrcode ico_c"></i>
                                        </div>


                                        <div class="card-body">
                                            <h4>Create Custom QR Codes</h4>
                                            <p>Generate unique QR codes for your business, events, or personal use. Easily share information with a simple scan.</p>
                                            <a class="gradient-btn" href="qr_code">Start</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                                    <div class="card">
                                        <div class="card-label">URL SHORTENER</div>
                                        <div class="card-photo"><i class="fa fa-link ico_c"></i></div>
                                        <div class="card-body">
                                            <h4>Shorten and Share Links</h4>
                                            <p>Transform long URLs into concise, shareable links. Perfect for social media, marketing campaigns, and more.</p>
                                            <a class="gradient-btn" href="add_url">Start</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                                    <div class="card">
                                        <div class="card-label">UTM BUILDER</div>
                                        <div class="card-photo"><i class="fa fa-bar-chart ico_c"></i></div>
                                        <div class="card-body">
                                            <h4>Track Campaign Performance</h4>
                                            <p>Create UTM-tagged links to monitor your marketing efforts. Gain insights into traffic sources and campaign effectiveness.</p>
                                            <a class="gradient-btn" href="link">Start</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                                    <div class="card">
                                        <div class="card-label">ANALYTICS</div> 
                                        <div class="card-photo"><i class="fa fa-pie-chart ico_c"></i></div>
                                        <div class="card-body">
                                            <h4>Powerful Insights at a Glance</h4>
                                            <p>Visualize your data with comprehensive analytics. Make informed decisions based on real-time statistics and trends.</p>
                                            <a class="gradient-btn" href="analytics">Start</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                                    <div class="card">
                                        <div class="card-label">CUSTOM LINKS</div>
                                        <div class="card-photo" style="background-image: url(https://itagroup.hs.llnwd.net/o40/csg/btr2018/news-banner-stand.jpg);"></div>
                                        <div class="card-body">
                                            <h4>Personalize Your Links</h4>
                                            <p>Create branded, memorable links that reflect your identity. Boost click-through rates with customized URLs.</p>
                                            <a class="gradient-btn" href="#">Start</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                                    <div class="card">
                                        <div class="card-label">BULK LINK SHORTENING</div>
                                        <div class="card-photo"><i class="fa fa-archive ico_c"></i></div>
                                        <div class="card-body">
                                            <h4>Streamline Multiple Links</h4>
                                            <p>Shorten multiple URLs at once, saving time and effort. Perfect for large-scale campaigns and content management.</p>
                                            <a class="gradient-btn" href="/bulks">Start</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3 flex-col">
                                    <div class="card">
                                        <div class="card-label">CUSTOM LANDING PAGES</div>
                                        <div class="card-photo" style="background-image: url(https://itagroup.hs.llnwd.net/o40/csg/btr2018/news-banner-walking.jpg);"></div>
                                        <div class="card-body">
                                            <h4>Create Engaging Destinations</h4>
                                            <p>Design custom landing pages for your shortened links. Provide a seamless experience for your audience with tailored content.</p>
                                            <a class="gradient-btn" href="#">Start</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

