<!Doctype html>
<html lang="en">
<head>
    <title>QR Code Generator</title>
    {% include 'links.html' %}
    <link rel="stylesheet" href="static/css/qr_code.css"/>
    <script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>   
</head>
<body>
    {% include 'nav.html' %}
    {% include 'msb.html' %}
    <!--main content wrapper-->
    <div class="mcw">
        <div class="cv"></div>
        <div class="inbox">
            <div class="inbox-sb">
            </div>
            <div class="inbox-bx container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <h1 style="margin: 20px;">{% if qr_data %}Edit{% else %}Create{% endif %} QR Code</h1>
                        <p style="margin-left: 20px;"><b>Create Custom QR Codes</b></p>
                        <p style="margin-left: 20px;">Generate unique QR codes for your business, events, or personal use. Easily share information with a simple scan.</p>
                        <!---BASIC CONFIG-->
                        <div class="content_1" id="BASIC_">
                            <div>
                                <h3>Basic Customisation</h3>
                                <label for="link">Link to show</label>
                                <input class="form-control" type="text" id="link" name="link" placeholder="Enter to show in QR Code" value="{{ qr_data.url if qr_data else 'https://google.com' }}">
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label for="height">Height</label>
                                        <input class="form-control" type="number" id="height" name="height" placeholder="Height in pixels" value="{{ qr_data.height if qr_data else 100 }}">
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="width">Width</label>
                                        <input class="form-control" type="number" id="width" name="width" placeholder="Width in pixels" value="{{ qr_data.width if qr_data else 100 }}">  
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="margin">Margin</label>
                                        <input class="form-control" type="number" id="margin" name="margin" placeholder="Margin" value="{{ qr_data.margin if qr_data else 0 }}">
                                    </div>
                                </div>
                                <br>
                                <label for="image_logo">Add a logo or center text</label>
                                <input class="form-control" type="text" id="image_logo" name="image" placeholder="Image URL" value="{{ qr_data.image_logo if qr_data else '' }}">
                            </div>
                            <br>
                        </div>
            
                        <!--ADVANCED STYLE-->
                        <div class="content_2" id="ADV_">
                            <h3>Styles Customisation</h3>
                            <br>
                            <label for="dots-type">Dots Options</label>
                            <div class="dots-type-selector">
                                <div class="dot-wrapper">
                                    <img src="static/img/dots_type/dots_type_square.png" data-value="square" class="dot_ico" id="dot-type-square" />
                                    <div class="tick-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                </div>
                                <div class="dot-wrapper">
                                    <img src="static/img/dots_type/dots_type_dots.png" data-value="dots" class="dot_ico" id="dot-type-dots" />
                                    <div class="tick-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                </div>
                                <div class="dot-wrapper">
                                    <img src="static/img/dots_type/dots_type_rounded.png" data-value="rounded" class="dot_ico" id="dot-type-round" />
                                    <div class="tick-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                </div>
                                <div class="dot-wrapper">
                                    <img src="static/img/dots_type/dots_type_extra-rounded.png" data-value="extra-rounded" class="dot_ico" id="dot-type-ex-round" />
                                    <div class="tick-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                </div>
                                <div class="dot-wrapper">
                                    <img src="static/img/dots_type/dots_type_classy.png" data-value="classy" class="dot_ico" id="dot-type-classy" />
                                    <div class="tick-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                </div>
                                <div class="dot-wrapper">
                                    <img src="static/img/dots_type/dots_type_classy-rounded.png" data-value="classy-rounded" class="dot_ico" id="dot-type-rounded" />
                                    <div class="tick-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                </div>
                            </div>
                            <br>
                            <label for="corners-square-type">Corners Square Options</label>
                            <div class="corner-image-selector">
                                <img src="static/img/Dot.png" data-value="dot" class="ico" id="corners-square-dot" />
                                <img src="static/img/Square.png" data-value="square" class="ico" id="corners-square-square" />    
                                <img src="static/img/Extra_rounded.png" data-value="extra-rounded" class="ico" id="corners-square-extra-rounded" />
                            </div>        
                            <br>        
                        </div>
            
                        <!--COLORS STYLE-->
                        <div class="content_3" id="MISC_">
                            <h3>Colors Customisation</h3>
                            <br>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label for="corners-square-color">Corners Square Options</label>
                                    <input type="color" id="corners-square-color" class="form-control color_ip" id="corners-square-color" value="#000000">
                                </div>
                                <div class="col-xs-4">
                                    <label for="color">Background Color</label>
                                    <input class="form-control color_ip" type="color" id="color" name="Background" value="#ffffff">
                                </div>
                                <div class="col-xs-4">
                                    <label for="fcolor">Foreground Color</label>
                                    <input class="form-control color_ip" type="color" id="fcolor" name="Foreground" value="#000000">        
                                </div>
                            </div>
                            <br/>   
                            <div class="row">    
                                <div class="col-xs-4">
                                    <label for="bg_gradient">Background Gradient Type</label>
                                    <select class="form-control" id="bg_gradient" name="bg_gradient">
                                        <option value="linear">Linear</option>
                                        <option value="radial">Radial</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <label for="bg_color1">Background Gradient Color 1</label>
                                    <input class="form-control color_ip" type="color" id="bg_color1" name="bg_color1" value="#ffffff">
                                </div>
                                <div class="col-xs-4">
                                    <label for="bg_color2">Background Gradient Color 2</label>
                                    <input class="form-control color_ip" type="color" id="bg_color2" name="bg_color2" value="#000000">
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <h2>Preview QR Code</h2>
                        <div id="canvas"></div>
                        <div class="download_options">
                            <select class="form-control" id="extension">
                                <option value="png" selected="">PNG</option>
                                <option value="jpeg">JPEG</option>
                                <option value="svg">SVG</option>
                            </select>
                            <br>
                            <button class="btn btn-primary" type="button" id="download_qr">Download</button>    
                            <button class="btn btn-primary" type="button" id="save_qr">{% if qr_data %}Update{% else %}Save{% endif %}</button>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="static/js/qr_code.js"></script>
    <script>
        $(".side").removeClass("active");
        $("#qr_sb").addClass("active");

        {% if qr_data %}
        // Load saved settings
        var savedSettings = {{ qr_data.settings|tojson|safe }};
        loadSavedSettings(savedSettings);
        {% endif %}
    </script>
</body>
</html>